{% extends 'web/gpsatHome.html' %}
{% block content %}
<div class="mdl-layout__tab-panel is-active" id="home">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

      <div class="mdl-card__supporting-text">
        <h4>Bem vindo ao GPSATWeb!</h4>
        Um sistema nascido no Grupo de Pesquisa sobre Saúde de Amputados Transfemorais e Tecnologias (GPSAT) para facilitar o processo de avaliação de pacientes amputados.
      </div>

  </section>
</div>
{% endblock %}